
/* Force text to be shown on devices without hover ability. */
@media screen and (pointer: fine) {
  .text:not(.force-show-text) {
    transform: translateY(100%);
    transition: transform 150ms ease;
  }
  .movie-item:hover .text {
    transform: translateY(0);
  }
}
